<!DOCTYPE html>
<meta charset="utf-8">
<title>BeerHear</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<meta name="viewport"
  content="width=device-width user-scalable=0 maximum-scale=1.0">

<header>
  <h1><a href="/">BeerHear</a></h1>
</header>

<main>
  <div class="wrapper">
    <%- body %>
  </div>
</main>

<footer>
  <p>a <a href="http://twitter.com/philnash">philnash</a> <a href="http://london.musichackday.org/2013/index.php?page=Main+page">musichackday</a> hack</p>
</footer>

<script>
  window.env = {
    foursquareClientId: '<%= process.env.FOURSQUARE_CLIENT_ID %>',
    foursquareClientSecret: '<%= process.env.FOURSQUARE_CLIENT_SECRET %>',
    songkickApiKey: '<%= process.env.SONGKICK_API_KEY %>'
  }
</script>
<script src="/javascripts/lib/jquery.min.js"></script>
<script src="/javascripts/lib/spin.min.js"></script>
<script src="/javascripts/app.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '<%= process.env.GOOGLE_ANALYTICS_ID %>', '<%= process.env.DOMAIN %>');
  ga('send', 'pageview');
</script>
